@page
@model GamesCollection.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Company</h1>
<dl>
    <dt>Name</dt>
    <dd></dd>
    <dt>Country</dt>
    <dd></dd>
    <dt>Website</dt>
    <dd></dd>
</dl>
<h2>Subsidiaries</h2>
<ul>
</ul>
<h2>Games</h2>
<ul>
</ul>


